/*
body {
  background: #00d2ff;
  background: -webkit-linear-gradient(to left, #00d2ff , #928DAB);
  background: linear-gradient(to left, #00d2ff , #928DAB);
}
*/

.alert-notice {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
